@font-face {
  @import url("https://fonts.googleapis.com/css2?family=Major+Mono+Display&family=Poppins:wght@300;400;600;700&display=swap");
}
body {
  font-family: "Roboto", sans-serif;
  background-color: #000;
  text-decoration: none;
  color: white;
}

input,
textarea {
  outline: none;
}

a,
a:hover {
  text-decoration: none;
}
ul {
  list-style: none;
}

.navigation {
  height: 50px;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.navigation__button {
  padding: 16px 25px;
  margin-left: 1px;
  color: #ccc;
  cursor: pointer;
}

.navigation__button:hover,
.navigation__button:active {
  color: green;
}
